{% extends "mainapp/base.html" %}

{% block content %}
<br><br><br><br><br><br>
<div class="container">
    <p class="text-danger">ENCRYPTED</p>
    <p>URL: {{use_pass.URL}}</p>
    <p>Name: {{use_pass.name}}</p>
    <p>Username or Email: {{use_pass.username_or_email}}</p>
    <p>Site Password: {{use_pass.site_password}}</p>
    <p>Notes: {{use_pass.notes}}</p>
    <br><br>
    <a href="{% url 'mainapp:decrypt-password' use_pass.id %}"><button class="btn btn-primary">Decrypt</button></a>
</div>

{% endblock content %}